@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

.container {
  display: flex;
}

.lateral-menu {
  background-color: #000000;
  color: #ffffff;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 0;
  justify-content: space-around;
}

.lateral-menu ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
  cursor: pointer;
}

.lateral-menu ul li img {
  margin-bottom: 10px;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.settings svg {
  margin-right: 10px;
}

.content {
  background-color: #f5f6fa;
  width: 100%;
}

.card {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  margin: 0 20px;
  height: 130px;
}

.card-small {
  width: 240px;
  display: flex;
  align-items: center;
}

.card-large {
  width: 465px;
}

.card .card-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
}

.card .card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.cards-header {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.card-info h2 {
  font-size: 54px;
  font-weight: bold;
  color: #ffba33;
}

.card-info p {
  font-size: 16px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-large .card-container .card-content:first-child {
  border-right: 1px solid #111111;
}

.table {
  width: 640px;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  margin: 40px;
  text-align: left;
}

.table table {
  width: 100%;
  margin-top: 30px;
}

.table h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.table table th {
  border-bottom: 1px solid #5e5e5e;
  padding: 10px 0;
}

.table table td {
  border-bottom: 1px solid #5e5e5e;
  padding: 10px 0;
}

.content-info {
  display: flex;
  align-items: center;
}

.chart {
  display: flex;
  align-items: center;
  margin: 40px;
  width: 400px;
  height: 450px;
  background: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

@media (max-width: 1250px) {
  .cards-header {
    flex-direction: column;
    gap: 20px;
  }
}
